#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	go build -v -o image-build ./cmd/image-build

override_dh_auto_install:
	install -D -m 0755 image-build debian/image-build/usr/bin/image-build

override_dh_auto_test:
	# Skip tests during package build as they require Linux-specific dependencies
	# and container runtime environment

override_dh_auto_clean:
	rm -f image-build

override_dh_dwz:
	# Skip dwz debug symbol compression - Go binaries have compressed debug sections
	# that are incompatible with dwz
